.inventory {
  display: inline-block;

  &__innerContainer {
    display: flex;
    margin: 3em auto;
  }

  &__imageHolder {
    margin: 0 auto!important;

  }

  &__imageFields {
    width: 50%;
    margin: 0 auto;
  }
}